body {
    background-image: url(assets/pexels-roberto-nickson-2478248.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }